/*!
 * F360 v1.0.0 (https://f360.com.br)
 * Copyright 2018-2018 SeliqueTI
 * Contact https://www.linkedin.com/in/selique/
 */

html {
  font-size: 18px !important;
}

@media screen and (min-width: 320px) {
  html {
    font-size: calc(18px + 6 * ((100vw - 320px) / 880)) !important;
  }
}

@media screen and (min-width: 1200px) {
  html {
    font-size: 24px !important;
  }
}

html #fullpage > .section::last-child .container {
  background: red !important;
  margin-top: 0 !important;
  height: 30vh !important;
}

html .container {
  padding: 0;
}

html p {
  line-height: 1.75;
}

html a {
  color: #000;
}

html a:hover {
  color: #000;
}

html .text-primary {
  color: #000 !important;
}

html h1,
html h2,
html h3,
html h4,
html h5,
html h6 {
  font-family: 'Montserrat', sans-serif;
}

html .btn {
  font-size: 20px;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-align: center;
  background: #000;
  border: 1px solid #fff;
}

html .btn-primary {
  background-color: #000;
  border-color: #fff;
}

html .btn-primary:active, html .btn-primary:focus, html .btn-primary:hover {
  background-color: #fff !important;
  border-color: #000 !important;
  color: #000;
}

html .btn-primary:active, html .btn-primary:focus {
  -webkit-box-shadow: 0 0 0 0.2rem #000 !important;
  box-shadow: 0 0 0 0.2rem #000 !important;
}

html ::-moz-selection {
  background: #000;
  text-shadow: none;
}

html ::selection {
  background: #000;
  text-shadow: none;
}

html img::-moz-selection {
  background: transparent;
}

html img::selection {
  background: transparent;
}

html img::-moz-selection {
  background: transparent;
}

html .owl-theme .owl-nav.disabled + .owl-dots {
  margin: 1em 0 0 0;
}

html .owl-theme .owl-dots .owl-dot span {
  background: transparent;
  border: 1px solid #6A6A6A;
}

#mainNav {
  background-color: #fff;
  padding: 0rem .5rem;
}

#mainNav .container-fluid {
  margin: 1vw 5vw;
}

#mainNav .navbar-toggler {
  padding: .6em 0.5em;
  text-transform: uppercase;
  color: black;
  border-radius: 0;
  position: absolute;
  right: 0;
  top: 0;
  font-size: 1.5em;
}

#mainNav .navbar-brand > svg {
  fill: #000;
  color: #000;
  height: 97px;
}

#mainNav .navbar-brand > svg.active, #mainNav .navbar-brand > svg:active, #mainNav .navbar-brand > svg:focus, #mainNav .navbar-brand > svg:hover {
  fill: #fff;
}

#mainNav .navbar-nav .nav-item.text-center {
  margin-right: 40px;
}

#mainNav .navbar-nav .nav-item:first-child {
  display: none;
}

#mainNav .navbar-nav .nav-item.social-nav-item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

#mainNav .navbar-nav .nav-item.social-nav-item .facebook,
#mainNav .navbar-nav .nav-item.social-nav-item .instagram {
  margin: 0 6px !important;
  padding: 0 !important;
}

#mainNav .navbar-nav .nav-item.social-nav-item .facebook > svg,
#mainNav .navbar-nav .nav-item.social-nav-item .instagram > svg {
  height: 24px;
  width: 24px;
  fill: #6A6A6A;
}

#mainNav .navbar-nav .nav-item.social-nav-item .facebook > svg.active, #mainNav .navbar-nav .nav-item.social-nav-item .facebook > svg:hover,
#mainNav .navbar-nav .nav-item.social-nav-item .instagram > svg.active,
#mainNav .navbar-nav .nav-item.social-nav-item .instagram > svg:hover {
  fill: #000;
}

#mainNav .navbar-nav .nav-item .nav-link {
  font-size: 0.8em;
  font-weight: 500;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  color: #6A6A6A;
  fill: #6A6A6A;
}

#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
  color: #000;
  fill: #000;
}

#mainNav .google-brand > svg {
  fill: #fff;
  height: 65px;
}

header#masthead {
  background-image: url("../img/cases/claro_optimized.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right center;
  background-size: 150% 150%;
}

header#masthead .container-fluid {
  padding-right: 0;
  padding-left: 0;
}

header#masthead .intro {
  z-index: 2;
  position: relative;
  text-align: center;
  bottom: 5vw;
}

header#masthead .intro__text {
  color: #fff;
  margin: 0 auto;
  font-size: 2.2em;
}

header#masthead .intro__text--main {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

header#masthead .intro__text--secondary {
  font-size: .57em;
  font-family: 'Roboto', sans-serif;
  text-transform: lowercase !important;
  font-weight: 400;
}

header#masthead .intro__btn {
  width: 100px;
  height: 100px;
  padding: 28px;
  position: fixed;
  top: 80vh;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 0vh;
  -webkit-animation: pulse 2s infinite;
  animation: pulse 2s infinite;
}

header#masthead .intro__btn > svg {
  width: 42px;
  height: 45px;
  z-index: 1;
}

header#masthead .intro__btn > svg path {
  fill: none;
  stroke: #fff;
  stroke-width: 2;
}

header#masthead .intro__mobile-social {
  position: fixed;
  right: 10%;
  bottom: 10%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
}

header#masthead .intro__mobile-social--svg {
  margin: 6.5px;
  display: block;
}

header#masthead .intro__mobile-social--svg > svg {
  width: 25px;
  height: 25px;
  display: block;
  fill: #fff;
}

header#masthead .intro__mobile_btn {
  display: none;
}

#cases .video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
}

#cases .video video {
  width: 70%;
  margin: auto;
}

#cases .google_brand {
  width: 15%;
  margin: 0 auto;
  position: fixed;
  left: 0%;
  right: 0%;
}

#cases .bloco {
  background: #000;
  position: relative;
  left: 10%;
  padding: 8% 30% 5% 14%;
  font-size: 80%;
}

#cases .bloco__heading {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 0.9em;
  color: #9D9D9D;
  margin: 1.5% 0 4% 0;
}

#cases .bloco__subheading {
  font-family: 'Roboto', sans-serif;
  font-size: .9em;
  color: #9D9D9D;
  margin: 4% 0 20% 0;
  font-weight: 300;
  line-height: 1.2em;
  letter-spacing: .015em;
}

#cases .bloco__lista {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

#cases .bloco__lista-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1%;
}

#cases .bloco__lista-item--btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  font-family: 'Roboto', sans-serif;
  border-radius: .5em;
  background-color: #181818;
  color: #fff;
  font-size: .5em;
  font-weight: 200;
  letter-spacing: 1px;
  margin: .3em;
}

#cases .bloco__lista-item--btn:focus, #cases .bloco__lista-item--btn:active, #cases .bloco__lista-item--btn:hover {
  border-color: #181818;
  background-color: #757575;
  color: #fff;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

.modal-dialog {
  position: fixed;
  margin: 0;
  width: 100%;
  height: 100%;
  padding: 0;
}

.modal-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  width: 100vw !important;
}

.modal-content .close-modal {
  width: 30px;
  position: absolute;
  right: 5%;
  top: 5%;
  z-index: 1;
}

.modal-content .close-modal > svg {
  fill: #9d9d9d;
}

.modal-content .close-modal > svg:hover, .modal-content .close-modal > svg:focus, .modal-content .close-modal > svg:active {
  background: #fff;
}

.modal-content-header {
  background: #000;
  padding: 3% 5% 1%;
  position: relative;
  left: -1px;
  width: 101%;
}

.modal-content-header--heading {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 1em;
  color: #9D9D9D;
}

.modal-content-header--subheading {
  font-family: 'Roboto', sans-serif;
  font-size: .9em;
  color: #9D9D9D;
  font-weight: 300;
  line-height: 1.2em;
}

.modal-content-body {
  position: relative;
  top: 0vh;
  width: 100%;
  font-weight: 300;
}

#services {
  color: #6A6A6A;
}

#services .title {
  width: 100%;
}

#services .title-heading {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 1em;
}

#services .title-subheading {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: .8em;
  margin-bottom: 2em;
}

#services .owl-carousel {
  margin: 0 auto;
  width: 70%;
}

#services .owl-carousel .item {
  border: solid 1px #6A6A6A;
  padding: 1em;
  margin: 0 .4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

#services .owl-carousel .item .text {
  font-size: 0.11em;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  position: absolute;
  top: 35%;
  left: 0;
  right: 0;
  text-align: center;
  line-height: 1;
}

#services .owl-carousel .item .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 3em;
}

#services .owl-carousel .item .box .icon-box {
  font-size: 10em;
  position: relative;
  -webkit-transform: rotate(-1deg);
  -ms-transform: rotate(-1deg);
  transform: rotate(-1deg);
}

#services .owl-carousel .item .box .icon-box .camera-aperture {
  border-radius: 0%;
  border: 0.01em solid #fff;
  overflow: hidden;
  -webkit-transform: rotate(1deg);
  -ms-transform: rotate(1deg);
  transform: rotate(1deg);
  width: 1.2em;
  height: .5em;
}

#services .owl-carousel .item .box .icon-box .camera-aperture:hover {
  -webkit-transition: all 500s ease-in-out;
  -o-transition: all 500s ease-in-out;
  transition: all 500s ease-in-out;
  -webkit-animation: open-aperture 2s;
  animation: open-aperture 2s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@-webkit-keyframes open-aperture {
  0% {
    --aperture-size: -0deg;
  }
  40% {
    --aperture-size: -34deg;
  }
  100% {
    --aperture-size: -100deg;
  }
}

@keyframes open-aperture {
  0% {
    --aperture-size: -0deg;
  }
  40% {
    --aperture-size: -34deg;
  }
  100% {
    --aperture-size: -100deg;
  }
}

#services .owl-carousel .item .box .icon-box .camera-aperture .blade-box {
  position: relative;
  width: inherit;
  height: inherit;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: rotate(-200deg);
  -ms-transform: rotate(-200deg);
  transform: rotate(-200deg);
}

#services .owl-carousel .item .box .icon-box .camera-aperture .blade-box .blade {
  position: absolute;
  top: 0;
  left: 50%;
  width: 100%;
  height: 100%;
  -webkit-transform: rotate(calc(var(--i) * 60deg)) rotateX(-60deg) scaleY(5);
  transform: rotate(calc(var(--i) * 60deg)) rotateX(-60deg) scaleY(5);
  -webkit-transform-origin: 0% 50%;
  -ms-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
}

#services .owl-carousel .item .box .icon-box .camera-aperture .blade-box .blade:nth-of-type(1) {
  --i: 1;
  z-index: 1;
  position: fi;
}

#services .owl-carousel .item .box .icon-box .camera-aperture .blade-box .blade:nth-of-type(2) {
  --i: 2;
  z-index: 2;
  position: fi;
}

#services .owl-carousel .item .box .icon-box .camera-aperture .blade-box .blade:nth-of-type(3) {
  --i: 3;
  z-index: 3;
  position: fi;
}

#services .owl-carousel .item .box .icon-box .camera-aperture .blade-box .blade:nth-of-type(4) {
  --i: 4;
  z-index: 4;
  position: fi;
}

#services .owl-carousel .item .box .icon-box .camera-aperture .blade-box .blade:nth-of-type(5) {
  --i: 5;
  z-index: 5;
  position: fi;
}

#services .owl-carousel .item .box .icon-box .camera-aperture .blade-box .blade:nth-of-type(6) {
  --i: 6;
  z-index: 6;
  position: fi;
}

#services .owl-carousel .item .box .icon-box .camera-aperture .blade-box .blade::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-box-shadow: inset 0.03em 0 #fff, inset 1em 0 #000;
  box-shadow: inset 0.03em 0 #fff, inset 1em 0 #000;
  -webkit-transform-origin: 0% 0%;
  -ms-transform-origin: 0% 0%;
  transform-origin: 0% 0%;
  -webkit-transform: rotate(var(--aperture-size, -100deg));
  -ms-transform: rotate(var(--aperture-size, -100deg));
  transform: rotate(var(--aperture-size, -100deg));
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  -o-transition: transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

#services .owl-carousel .item .service__heading {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: .7em;
  margin: 1em 0em;
}

#services .owl-carousel .item .service__text {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-weight: 300;
  font-size: .6em;
  margin: 0;
}

#services .owl-carousel .item .service__icon {
  margin-top: auto;
}

#services .owl-carousel .item .service__icon > svg {
  margin: 0 auto;
  width: 50%;
  margin: 1em auto 0 auto;
}

#services .btn-contato {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  background: #000;
  font-size: .5em;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  padding: 1.5em 3em;
  border-radius: 0;
  margin: 2em auto 0 auto;
}

#services .btn-contato:hover, #services .btn-contato:focus, #services .btn-contato:active {
  color: #fff;
  background: #6A6A6A;
}

#contact {
  background-color: #000;
}

#contact .modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

#contact .modal-dialog {
  position: fixed;
  margin: 0;
  width: 100%;
  height: 100%;
  padding: 0;
}

#contact .modal-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  width: 100vw !important;
  background: #000;
}

#contact .modal-content .close-modal {
  width: 30px;
  position: absolute;
  right: 10%;
  top: 5%;
  z-index: 1;
}

#contact .modal-content .close-modal > svg {
  fill: #9d9d9d;
}

#contact .modal-content .close-modal > svg:hover, #contact .modal-content .close-modal > svg:focus, #contact .modal-content .close-modal > svg:active {
  background: #fff;
}

#contact .modal-content .google-brand > svg {
  width: 150px;
  fill: #9D9D9D;
  position: absolute;
  left: 5%;
  top: 5%;
  z-index: 1;
}

#contact .modal-content-header {
  background: transparent;
  padding: 10% 0% 2%;
  position: relative;
  left: -1px;
  width: 101%;
  text-align: center;
}

#contact .modal-content-header--heading {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 1em;
  color: #9D9D9D;
}

#contact .modal-content-header--subheading {
  font-family: 'Roboto', sans-serif;
  font-size: .9em;
  color: #9D9D9D;
  font-weight: 300;
  line-height: 1.2em;
}

#contact .modal-content-body {
  position: relative;
  top: 0vh;
  width: 100%;
  font-weight: 300;
}

#contact .modal-content-body .container {
  padding: 0 5vw;
}

#contact .modal-content-body .form-group {
  margin-bottom: 25px;
}

#contact .modal-content-body .form-group input,
#contact .modal-content-body .form-group textarea {
  border: none;
  color: #9D9D9D;
  background: rgba(255, 255, 255, 0.1);
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8em;
  border-radius: 0;
}

#contact .modal-content-body .form-group input::-webkit-input-placeholder,
#contact .modal-content-body .form-group textarea::-webkit-input-placeholder {
  color: #6A6A6A;
  text-transform: uppercase;
}

#contact .modal-content-body .form-group input:-ms-input-placeholder,
#contact .modal-content-body .form-group textarea:-ms-input-placeholder {
  color: #6A6A6A;
  text-transform: uppercase;
}

#contact .modal-content-body .form-group input::-ms-input-placeholder,
#contact .modal-content-body .form-group textarea::-ms-input-placeholder {
  color: #6A6A6A;
  text-transform: uppercase;
}

#contact .modal-content-body .form-group input::placeholder,
#contact .modal-content-body .form-group textarea::placeholder {
  color: #6A6A6A;
  text-transform: uppercase;
}

#contact .modal-content-body .form-group input:hover, #contact .modal-content-body .form-group input:focus, #contact .modal-content-body .form-group input:active,
#contact .modal-content-body .form-group textarea:hover,
#contact .modal-content-body .form-group textarea:focus,
#contact .modal-content-body .form-group textarea:active {
  color: #9D9D9D;
}

#contact .modal-content-body .form-group input.form-control {
  height: auto;
}

#contact .modal-content-body .form-group textarea.form-control {
  height: 100%;
  max-height: 20vh;
}

#contact .modal-content-body .form-control:focus {
  border-color: #fff;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#contact .modal-content-body ::-webkit-input-placeholder {
  color: #707070;
  font-family: 'Montserrat', sans-serif;
}

#contact .modal-content-body :-ms-input-placeholder {
  color: #707070;
  font-family: 'Montserrat', sans-serif;
}

#contact .modal-content-body ::-ms-input-placeholder {
  color: #707070;
  font-family: 'Montserrat', sans-serif;
}

#contact .modal-content-body ::placeholder {
  color: #707070;
  font-family: 'Montserrat', sans-serif;
}

#contact .modal-content-body .g-recaptcha,
#contact .modal-content-body .btn-send {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#contact input[type="submit"].btn-contato {
  color: white;
  font-family: 'Montserrat', sans-serif;
  background: #000;
  border: solid 2px #9D9D9D;
  font-size: .8em;
  font-weight: 200;
  text-align: center;
  text-transform: uppercase;
  padding: 1em 5em;
  border-radius: 0;
  margin: 2em auto 0 auto;
}

#contact input[type="submit"].btn-contato:hover, #contact input[type="submit"].btn-contato:focus, #contact input[type="submit"].btn-contato:active {
  color: #fff;
  background: #6A6A6A;
  border: solid 2px #fff;
}

.footer {
  padding: 3vw 0vw 3vw 6vw !important;
  background: #000;
  color: #fff;
}

.footer-title > svg {
  fill: #fff;
  width: 100px;
}

.footer-desc {
  font-size: 0.7em;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  width: 70%;
  line-height: 1.33em;
}

/*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/
/*==========  Non-Mobile First Method  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  .fp-viewing-home #mainNav #navbarResponsive,
  .fp-viewing-home #mainNav .navbar-toggler {
    display: none !important;
  }
  .fp-viewing-section2 #mainNav .navbar-toggler,
  .fp-viewing-section3 #mainNav .navbar-toggler,
  .fp-viewing-footer #mainNav .navbar-toggler {
    display: none;
  }
  .fp-viewing-section2 #mainNav .google-brand > svg,
  .fp-viewing-section3 #mainNav .google-brand > svg,
  .fp-viewing-footer #mainNav .google-brand > svg {
    display: none;
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .fp-viewing-home #mainNav #navbarResponsive,
  .fp-viewing-home #mainNav .navbar-toggler {
    display: block !important;
  }
  .fp-viewing-section2 #mainNav .navbar-toggler,
  .fp-viewing-section3 #mainNav .navbar-toggler,
  .fp-viewing-footer #mainNav .navbar-toggler {
    display: block;
  }
  .fp-viewing-section2 #mainNav .google-brand > svg,
  .fp-viewing-section3 #mainNav .google-brand > svg,
  .fp-viewing-footer #mainNav .google-brand > svg {
    display: none;
  }
  #mainNav .navbar-nav .nav-item .nav-link.text-center {
    margin: 0px;
  }
  #mainNav .navbar-nav .nav-item .nav-link.active {
    color: #fff;
  }
  #mainNav .google-brand > svg {
    height: 10vh;
  }
  .navbar-toggler {
    border: none;
    z-index: 10;
  }
  .navbar-toggler[aria-expanded="true"] > i {
    color: #fff;
  }
  #navbarResponsive.navbar-collapse.collapsing {
    -webkit-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
  }
  #navbarResponsive.navbar-collapse .navbar-nav {
    background: #000;
    color: #6A6A6A;
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    right: 0;
    padding: 20vh 20vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  #navbarResponsive.navbar-collapse .navbar-nav:hover, #navbarResponsive.navbar-collapse .navbar-nav:focus, #navbarResponsive.navbar-collapse .navbar-nav:active {
    color: #fff;
  }
  #navbarResponsive.navbar-collapse .navbar-nav .nav-item:first-child {
    display: block;
  }
  #navbarResponsive.navbar-collapse .navbar-nav .nav-item {
    font-size: 5vh;
    margin: 0;
  }
  #navbarResponsive.navbar-collapse .navbar-nav .nav-item.social-nav-item {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  #cases .google_brand {
    width: 40%;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 5%;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  #mainNav .navbar-nav .nav-item {
    margin: 0;
  }
  #mainNav .navbar-nav .nav-item .nav-link.active {
    color: #fff;
  }
  #mainNav .google-brand > svg {
    height: 10vh;
  }
  .navbar-toggler {
    border: none;
    z-index: 10;
  }
  .navbar-toggler[aria-expanded="true"] > i {
    color: #fff;
  }
  #cases .video video {
    width: 100%;
    margin: auto;
  }
  #cases .bloco {
    left: 0%;
    margin: 0px -5vw;
  }
  #services {
    padding-top: 0px !important;
  }
  #services .btn-contato {
    font-size: .8em;
  }
  #contact .modal .modal-content .google-brand > svg {
    position: absolute;
    z-index: 1;
    top: 90vh;
    width: 300px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  .fp-viewing-home #mainNav .navbar-toggler {
    display: none;
  }
  .fp-viewing-section2 #mainNav .navbar-toggler,
  .fp-viewing-section3 #mainNav .navbar-toggler,
  .fp-viewing-footer #mainNav .navbar-toggler {
    display: block;
  }
  .fp-viewing-section2 #mainNav .google-brand > svg,
  .fp-viewing-section3 #mainNav .google-brand > svg,
  .fp-viewing-footer #mainNav .google-brand > svg {
    display: none;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  #mainNav .navbar-brand > svg {
    height: 8vh;
  }
  #mainNav .google-brand > svg {
    height: 5vh;
    top: 2.5vh;
  }
  header#masthead #photosphere {
    height: 55vh;
  }
  header#masthead .intro {
    background: #fff;
    text-align: left;
    position: absolute;
    bottom: 0;
    height: 45vh;
    width: 100vw;
  }
  header#masthead .intro__text {
    color: #6A6A6A;
    font-size: 5.4vw;
    margin: 2em 2em 1em 2em;
  }
  header#masthead .intro__text--main {
    font-size: 1.1em;
  }
  header#masthead .intro__text--secondary {
    font-size: .7em;
  }
  header#masthead .intro__btn {
    top: 0vh;
  }
  header#masthead .intro__mobile-social {
    display: block;
    list-style: none;
    margin: 1em 0;
    position: absolute;
    left: 8%;
    top: 65%;
    right: 0% !important;
  }
  header#masthead .intro__mobile-social li {
    display: inline-block;
  }
  header#masthead .intro__mobile-social li svg {
    fill: #6A6A6A;
    height: 2em;
    width: 2em;
    margin-right: 0px !important;
  }
  header#masthead .intro__mobile-social li svg:hover, header#masthead .intro__mobile-social li svg:focus, header#masthead .intro__mobile-social li svg:active {
    fill: #000;
  }
  header#masthead .intro__mobile_btn {
    display: block;
    border: #6A6A6A solid 2px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: .5em;
    text-transform: uppercase;
    border-radius: 0;
    font-size: 1em;
    padding: .5em 2em;
    margin: 0 2em;
    background: #fff;
    color: #6A6A6A;
  }
  header#masthead .intro__mobile_btn:hover, header#masthead .intro__mobile_btn:focus, header#masthead .intro__mobile_btn:active {
    background: #6A6A6A;
    color: #fff;
  }
  #services .container {
    padding: 0em 2em;
  }
  #services .item .service__heading {
    font-size: 1.1em;
    margin: 1em 0;
  }
  #services .item .service__text {
    font-size: .8em;
  }
  #services .item .service__icon {
    bottom: 10%;
  }
  #cases {
    padding-top: 0 !important;
  }
  #cases .video video {
    height: 45vh;
  }
  #cases .bloco__subheading {
    margin: 0 0 2vh 0;
    font-size: .7em;
  }
  .footer {
    padding-top: 0 !important;
  }
  .footer > div > div {
    height: 100vh;
    width: 100vw;
    padding: 0 10%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .footer-title > svg {
    fill: #fff;
  }
  .footer-desc {
    width: 100%;
  }
  #contact .modal-content-header {
    padding: 15vh 15vw 2%;
  }
  #contact .modal-content-body .form-group .help-block {
    font-size: .7em;
    margin: 0;
  }
  #contact .modal-content-body .btn-contato {
    padding: 1em 8em;
    margin: 1em auto 0 auto;
  }
}

/* Custom, iPhone Retina */
.fp-viewing-home #mainNav {
  background: transparent;
  -webkit-transition: fill 800ms ease-in-out 0s;
  -o-transition: fill 800ms ease-in-out 0s;
  transition: fill 800ms ease-in-out 0s;
}

.fp-viewing-home #mainNav .navbar-brand > svg {
  -webkit-transition: fill 800ms ease-in-out 0s;
  -o-transition: fill 800ms ease-in-out 0s;
  transition: fill 800ms ease-in-out 0s;
  fill: #fff;
}

.fp-viewing-home #mainNav #navbarResponsive,
.fp-viewing-home #mainNav .navbar-toggler {
  display: none !important;
}

.fp-viewing-home #mainNav .google-brand > svg {
  -webkit-transition: opacity 500ms ease-in-out 1s;
  -o-transition: opacity 500ms ease-in-out 1s;
  transition: opacity 500ms ease-in-out 1s;
  visibility: visible;
  opacity: 1;
}

.fp-viewing-home #masthead .intro__text {
  -webkit-animation: bounceInDown 1800ms ease-in-out 0s;
  animation: bounceInDown 1800ms ease-in-out 0s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.fp-viewing-home #masthead .intro__mobile-social {
  -webkit-animation: bounceInUp 1800ms ease-in-out 0s;
  animation: bounceInUp 1800ms ease-in-out 0s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.fp-viewing-section2 #mainNav {
  background-color: #fff;
  -webkit-transition: background-color 900ms ease-in-out;
  -o-transition: background-color 900ms ease-in-out;
  transition: background-color 900ms ease-in-out;
}

.fp-viewing-section2 #mainNav .navbar-brand > svg {
  -webkit-transition: fill 300ms ease-in-out 0s;
  -o-transition: fill 300ms ease-in-out 0s;
  transition: fill 300ms ease-in-out 0s;
  fill: #000;
}

.fp-viewing-section2 #mainNav .google-brand > svg {
  -webkit-transition: opacity 800ms ease-in-out 300ms;
  -o-transition: opacity 800ms ease-in-out 300ms;
  transition: opacity 800ms ease-in-out 300ms;
  visibility: hidden;
  opacity: 0;
  height: 0;
  width: 0;
  position: absolute;
  display: none;
  border: red solid 1px;
}

.fp-viewing-section2 #cases video {
  -webkit-animation: zoomIn 2s ease-in-out 0s;
  animation: zoomIn 2s ease-in-out 0s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.fp-viewing-section2 #cases .bloco {
  -webkit-animation: bounceInRight 1800ms ease-in-out 0s;
  animation: bounceInRight 1800ms ease-in-out 0s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.fp-viewing-section2 #cases .google-brand {
  -webkit-animation: bounceInUp 1800ms ease-in-out 0s;
  animation: bounceInUp 1800ms ease-in-out 0s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.fp-viewing-section3 #mainNav {
  background-color: #fff;
  -webkit-transition: background-color 900ms ease-in-out;
  -o-transition: background-color 900ms ease-in-out;
  transition: background-color 900ms ease-in-out;
}

.fp-viewing-section3 #mainNav .navbar-brand > svg {
  -webkit-transition: fill 300ms ease-in-out 0s;
  -o-transition: fill 300ms ease-in-out 0s;
  transition: fill 300ms ease-in-out 0s;
  fill: #000;
}

.fp-viewing-section3 #mainNav .google-brand > svg {
  -webkit-transition: opacity 800ms ease-in-out 300ms;
  -o-transition: opacity 800ms ease-in-out 300ms;
  transition: opacity 800ms ease-in-out 300ms;
  visibility: hidden;
  opacity: 0;
  height: 0;
  width: 0;
  position: absolute;
  display: none;
  border: red solid 1px;
}

.fp-viewing-section3 #services .title {
  -webkit-animation: zoomIn 1800ms ease-in-out 0s;
  animation: zoomIn 1800ms ease-in-out 0s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.fp-viewing-section3 #services .item {
  -webkit-animation: zoomIn 2400ms ease-in-out 0s;
  animation: zoomIn 2400ms ease-in-out 0s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.fp-viewing-section3 #services .btn-contato {
  -webkit-animation: zoomIn 2500ms ease-in-out 0s;
  animation: zoomIn 2500ms ease-in-out 0s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.fp-viewing-footer {
  padding: 0 !important;
}

.fp-viewing-footer #mainNav {
  background-color: #fff;
  -webkit-transition: background-color 900ms ease-in-out;
  -o-transition: background-color 900ms ease-in-out;
  transition: background-color 900ms ease-in-out;
}

.fp-viewing-footer #mainNav .navbar-brand > svg {
  -webkit-transition: fill 300ms ease-in-out 0s;
  -o-transition: fill 300ms ease-in-out 0s;
  transition: fill 300ms ease-in-out 0s;
  fill: #000;
}

.fp-viewing-footer #mainNav .google-brand > svg {
  -webkit-transition: opacity 800ms ease-in-out 300ms;
  -o-transition: opacity 800ms ease-in-out 300ms;
  transition: opacity 800ms ease-in-out 300ms;
  visibility: hidden;
  opacity: 0;
  height: 0;
  width: 0;
  position: absolute;
  display: none;
  border: red solid 1px;
}

.fp-viewing-footer .footer-title {
  -webkit-animation: flash 2000ms ease-in-out 0s;
  animation: flash 2000ms ease-in-out 0s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.fp-viewing-footer .footer-desc {
  -webkit-animation: bounceInUp 2500ms ease-in-out 0s;
  animation: bounceInUp 2500ms ease-in-out 0s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(0, 20px);
    transform: translate(0, 20px);
  }
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(0, 20px);
    transform: translate(0, 20px);
  }
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

#loading {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 999999;
}

#loading > svg {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 50%;
  left: calc( 50vw - 30px);
  right: calc( 50vw - 30px);
  bottom: 50%;
}
