/*!
 * F360 v1.0.0 (https://f360.com.br)
 * Copyright 2018-2018 SeliqueTI
 * Contact https://www.linkedin.com/in/selique/
 */

p {
  line-height: 1.75;
}

a {
  color: #000;
}

a:hover {
  color: #000;
}

.text-primary {
  color: #000 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
}

.btn {
  font-size: 20px;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-align: center;
  background: #000;
  border: 1px solid #fff;
}

.btn-primary {
  background-color: #000;
  border-color: #fff;
}

.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
  background-color: #fff !important;
  border-color: #000 !important;
  color: #000;
}

.btn-primary:active, .btn-primary:focus {
  -webkit-box-shadow: 0 0 0 0.2rem #000 !important;
  box-shadow: 0 0 0 0.2rem #000 !important;
}

::-moz-selection {
  background: #000;
  text-shadow: none;
}

::selection {
  background: #000;
  text-shadow: none;
}

img::-moz-selection {
  background: transparent;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

#mainNav {
  background-color: #fff;
}

#mainNav .navbar-toggler {
  font-size: 12px;
  right: 0;
  padding: 13px;
  text-transform: uppercase;
  color: black;
  border: 0;
  background-color: red;
}

#mainNav .navbar-brand > svg {
  fill: #000;
  height: 80px;
  color: #000;
}

#mainNav .navbar-brand > svg.active, #mainNav .navbar-brand > svg:active, #mainNav .navbar-brand > svg:focus, #mainNav .navbar-brand > svg:hover {
  fill: #fff;
}

#mainNav .navbar-nav .nav-item .facebook,
#mainNav .navbar-nav .nav-item .instagram {
  margin: 0 6px !important;
  padding: 0 !important;
}

#mainNav .navbar-nav .nav-item .facebook > svg,
#mainNav .navbar-nav .nav-item .instagram > svg {
  height: 24px;
  width: 24px;
  fill: #6A6A6A;
}

#mainNav .navbar-nav .nav-item .facebook > svg.active, #mainNav .navbar-nav .nav-item .facebook > svg:hover,
#mainNav .navbar-nav .nav-item .instagram > svg.active,
#mainNav .navbar-nav .nav-item .instagram > svg:hover {
  fill: #000;
}

#mainNav .navbar-nav .nav-item .nav-link {
  font-size: 18px;
  font-weight: 500;
  padding: 0 12px;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1px;
  color: #6A6A6A;
  fill: #6A6A6A;
}

#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
  color: #000;
  fill: #000;
}

#mainNav .google-brand > svg {
  fill: white;
}

header#masthead {
  background-image: url("../img/header-bg.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
}

header#masthead .intro {
  padding-right: 0;
  padding-left: 0;
}

header#masthead .intro #photosphere {
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 1;
  top: 0;
}

header#masthead .intro__text {
  z-index: 2;
  position: relative;
  text-align: center;
  color: #fff;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility 0s, opacity 0.5s linear;
  transition: visibility 0s, opacity 0.5s linear;
}

header#masthead .intro__text--main {
  font-size: 67px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

header#masthead .intro__text--secondary {
  font-size: 40px;
  font-family: 'Roboto', sans-serif;
  text-transform: lowercase !important;
  font-weight: 300;
}

header#masthead .intro__btn {
  width: 100px;
  height: 100px;
  padding: 28px;
  position: fixed;
  top: 80vh;
  left: 0;
  right: 0;
  margin: auto;
}

header#masthead .intro__btn > svg {
  width: 42px;
  height: 45px;
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility 0s, opacity 0.5s linear;
  transition: visibility 0s, opacity 0.5s linear;
}

header#masthead .intro__btn > svg path {
  fill: none;
  stroke: #fff;
  stroke-width: 2;
}

#portfolio video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
}

#portfolio .bloco {
  padding: 65px 80px;
  background: #000;
}

#portfolio .bloco__heading {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 25px;
  color: #9D9D9D;
}

#portfolio .bloco__subheading {
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  color: #9D9D9D;
  margin: 10px 0px 50px 0px;
  font-weight: 300;
  line-height: 1.2em;
}

#portfolio .bloco__lista {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

#portfolio .bloco__lista-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.5em;
  margin: -3px !important;
}

#portfolio .bloco__lista-item--btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  border-radius: 6px;
  color: #9D9D9D;
  border: solid 1px #9D9D9D;
}

#portfolio .bloco__lista-item--btn:focus, #portfolio .bloco__lista-item--btn:active, #portfolio .bloco__lista-item--btn:hover {
  -webkit-box-shadow: 0 0 1rem 0.2rem #fff !important;
  box-shadow: 0 0 1rem 0.2rem #fff !important;
}

#portfolio .google_brand {
  max-width: 10vw;
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
}

#services {
  color: #6A6A6A;
}

#services .title {
  margin: 30px 0px;
}

#services .title-heading {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 24px;
}

#services .title-subheading {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-weight: 300;
  font-size: 22px;
}

#services .item {
  width: 350px;
  height: 460px;
  border: solid 1px #6A6A6A;
  padding: 35px;
}

#services .item .service__heading {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 24px;
  margin: 25px 0 40px;
}

#services .item .service__text {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-weight: 300;
  font-size: 18px;
}

#services .item .service__icon > svg {
  margin: 0 auto;
  width: 165px;
  min-height: 80px;
}

#services .item .service__icon img {
  margin: 0 auto;
  width: 60px;
}

#services .btn {
  width: 300px;
  height: 80px;
}

#services .btn-contato {
  font-size: 19px;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  text-align: center;
  background: #000;
  margin: 30px auto 0;
  text-transform: uppercase;
  padding: 23px;
}

#services .btn-contato:hover, #services .btn-contato:focus, #services .btn-contato:active {
  color: #9D9D9D;
  background: #6A6A6A;
}

#contact {
  background-color: #000;
  background-image: url("../img/map-image.png");
  background-repeat: no-repeat;
  background-position: center;
}

#contact .section-heading {
  color: #fff;
}

#contact .form-group {
  margin-bottom: 25px;
}

#contact .form-group input,
#contact .form-group textarea {
  padding: 20px;
}

#contact .form-group input.form-control {
  height: auto;
}

#contact .form-group textarea.form-control {
  height: 248px;
}

#contact .form-control:focus {
  border-color: #fff;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#contact ::-webkit-input-placeholder {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}

#contact :-ms-input-placeholder {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}

#contact ::-ms-input-placeholder {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}

#contact ::placeholder {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}

.footer {
  padding: 40px 0px;
  height: 100px;
  background: #000;
  color: #fff;
}

.footer-title > svg {
  width: 200px;
  fill: #fff;
  height: 50px;
  width: 140px;
  margin: 30px 0px 10px -10px;
}

.footer-desc {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 200;
}

.fp-viewing-0 #mainNav {
  background: transparent;
  -webkit-transition: background-color 100ms ease-in-out 0s;
  transition: background-color 100ms ease-in-out 0s;
}

.fp-viewing-0 #mainNav .navbar-brand > svg {
  -webkit-transition: fill 800ms ease-in-out 0s;
  transition: fill 800ms ease-in-out 0s;
  fill: #fff;
}

.fp-viewing-0 #mainNav #navbarResponsive {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility 0s, opacity 0.5s linear;
  transition: visibility 0s, opacity 0.5s linear;
}

.fp-viewing-0 #mainNav .google-brand > svg {
  -webkit-transition: opacity 500ms ease-in-out;
  transition: opacity 500ms ease-in-out;
  visibility: visible;
  opacity: 1;
  height: 80px;
}

.fp-viewing-0 #masthead.section.fp-completely.active .intro__text, .fp-viewing-0 #masthead.section.fp-completely.active .intro__btn {
  -webkit-transition: opacity 400ms ease-in-out;
  transition: opacity 400ms ease-in-out;
  visibility: visible;
  opacity: 1;
}

.fp-viewing-1 #mainNav {
  -webkit-transition: background-color 900ms ease-in-out 1s;
  transition: background-color 900ms ease-in-out 1s;
}

.fp-viewing-1 #mainNav .navbar-brand > svg {
  -webkit-transition: fill 300ms ease-in-out 0s;
  transition: fill 300ms ease-in-out 0s;
  fill: #000;
}

.fp-viewing-1 #mainNav #navbarResponsive {
  -webkit-transition: opacity 500ms ease-in-out 1s;
  transition: opacity 500ms ease-in-out 1s;
  visibility: visible;
  opacity: 1;
}

.fp-viewing-1 #mainNav .google-brand > svg {
  -webkit-transition: opacity 800ms ease-in-out 300ms;
  transition: opacity 800ms ease-in-out 300ms;
  visibility: hidden;
  opacity: 0;
  height: 0;
  height: 44px;
  position: absolute;
}

.fp-viewing-1 #portfolio .google_brand > svg {
  -webkit-transition: opacity 500ms ease-in-out;
  transition: opacity 500ms ease-in-out;
  visibility: visible;
  opacity: 1;
}
