.fp-viewing-home {
    & #mainNav {
        background: transparent;
        transition: fill 800ms ease-in-out 0s;
        .navbar-brand {
            >svg {
                transition: fill 800ms ease-in-out 0s;
                fill: $white;
            }
        }
        #navbarResponsive,
        .navbar-toggler {
            display: none !important;
        }
        .google-brand {
            >svg {
                transition: opacity 500ms ease-in-out 1s;
                visibility: visible;
                opacity: 1;
            }
        }
    }
    & #masthead {
        .intro__text {
            animation: bounceInDown 1800ms ease-in-out 0s;
            animation-fill-mode: forwards;
        }
        .intro__mobile-social {
            animation: bounceInUp 1800ms ease-in-out 0s;
            animation-fill-mode: forwards;
        }
    }
}


.fp-viewing-section2 {
    & #mainNav {
        background-color: transparent;
        transition: background-color 900ms ease-in-out;
        .navbar-brand {
            >svg {
                transition: fill 300ms ease-in-out 0s;
                fill: $black;
            }
        }

        .google-brand {
            //white brand
            >svg {
                transition: opacity 800ms ease-in-out 300ms;
                visibility: hidden;
                opacity: 0;
                height: 0;
                width: 0;
                position: absolute;
                display: none;
                border: red solid 1px;
            }
        }
    }
    & #cases {
        video {
            animation: zoomIn 2s ease-in-out 0s;
            animation-fill-mode: forwards;
        }
        .bloco {
            animation: bounceInRight 1800ms ease-in-out 0s;
            animation-fill-mode: forwards;
        }
        .google-brand {
            animation: bounceInUp 1800ms ease-in-out 0s;
            animation-fill-mode: forwards;
        }

    }
}

.fp-viewing-section3 {
    & #mainNav {
        background-color: transparent;
        transition: background-color 900ms ease-in-out;
        .navbar-brand {
            >svg {
                transition: fill 300ms ease-in-out 0s;
                fill: $black;
            }
        }

        .google-brand {
            //white brand
            >svg {
                transition: opacity 800ms ease-in-out 300ms;
                visibility: hidden;
                opacity: 0;
                height: 0;
                width: 0;
                position: absolute;
                display: none;
                border: red solid 1px;
            }
        }
    }
    #services {
        .title {
            animation: zoomIn 1800ms ease-in-out 0s;
            animation-fill-mode: forwards;
        }
        .item {
            animation: zoomIn 2400ms ease-in-out 0s;
            animation-fill-mode: forwards;
        }
        .btn-contato {
            animation: zoomIn 2500ms ease-in-out 0s;
            animation-fill-mode: forwards;
        }
    }
}

.fp-viewing-footer {
    padding: 0 !important;
    & #mainNav {
        background-color: transparent;
        transition: background-color 900ms ease-in-out;
        .navbar-brand {
            >svg {
                transition: fill 300ms ease-in-out 0s;
                fill: $black;
            }
        }

        .google-brand {
            //white brand
            >svg {
                transition: opacity 800ms ease-in-out 300ms;
                visibility: hidden;
                opacity: 0;
                height: 0;
                width: 0;
                position: absolute;
                display: none;
                border: red solid 1px;
            }
        }
    }

    .footer {
        &-title {
            animation: flash 2000ms ease-in-out 0s;
            animation-fill-mode: forwards;

        }
        &-desc {
            animation: bounceInUp 2500ms ease-in-out 0s;
            animation-fill-mode: forwards;
        }
    }

}

.section {

    &:nth-child(1) {}
    &:nth-child(2) {}
    &:nth-child(3) {}
    &:nth-child(4) {}

    &.fp-completely.active {}
    &.active {}
    &.fp-completely {}
    &.prev.down {}
    &.active.up {}
    &.active.down {}
    &.next.up {}
}


//keyframes
@keyframes pulse {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    50% {
        -webkit-transform: translate(0, 20px);
        transform: translate(0, 20px);
    }
    100% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
}
