// Styling for the contact section
//https://codepen.io/nhembram/pen/PzyYLL
#contact {
  background-color: $black;
  background-image: url('../img/map-image.png');
  background-repeat: no-repeat;
  background-position: center;
  .section-heading {
    color: $white;
  }
  .form-group {
    margin-bottom: 25px;
    input,
    textarea {
      padding: 20px;
    }
    input.form-control {
      height: auto;
    }
    textarea.form-control {
      height: 248px;
    }
  }
  .form-control:focus {
    border-color: $white;
    box-shadow: none;
  }
  ::placeholder {
    color: $white;
    @include monserrat;
  }
 
}
