// Styling for the footer
.footer {
    padding: 5vw !important;
    background: $black;
    color: $white;
    &-title {
        >svg {
            fill: $white;
            width: 15vw;
        }
    }
    &-desc {
        font-size: 0.7em;
        @include roboto;
        font-weight: 200;
    }
}
