// Global styling for this template
//Font-size fluid
$min_width: 320px;
$max_width: 1200px;
$min_font: 18px;
$max_font: 24px;

html {
  @include fluid-type($min_width, $max_width, $min_font, $max_font);
  #fullpage {
    &>.section {
      &::last-child {
        .container {
          background: red !important;
          margin-top: 0 !important;
          height: 30vh !important;
        }
      }
    }
  }
  .container {
    padding: 0;
  }
  p {
    line-height: 1.75;
  }

  a {
    color: $black;
    &:hover {
      color: $black;
    }
  }

  .text-primary {
    color: $black !important;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @include monserrat;
  } // Button Styles
  .btn {
    font-size: 20px;
    color: $white;
    @include monserrat;
    font-weight: bold;
    text-align: center;
    background: $black;
    border: 1px solid $white;
  }


  .btn-primary {
    background-color: $black;
    border-color: $white;
    &:active,
    &:focus,
    &:hover {
      background-color: $white !important;
      border-color: $black !important;
      color: $black;
    }
    &:active,
    &:focus {
      box-shadow: 0 0 0 0.2rem $black !important;
    }
  } // Highlight color customization
  ::-moz-selection {
    background: $black;
    text-shadow: none;
  }

  ::selection {
    background: $black;
    text-shadow: none;
  }

  img::selection {
    background: transparent;
  }

  img::-moz-selection {
    background: transparent;
  }

  .owl-theme {
    .owl-nav.disabled+.owl-dots {
      margin: 1em 0 0 0;
    }
    .owl-dots .owl-dot {
      & span {
        background: transparent;
        border: 1px solid $grey;
      }
    }
  }
}
