// Styling for the navbar
#mainNav {
  background-color: $white;
  .navbar-toggler {
    font-size: 12px;
    right: 0;
    padding: 13px;
    text-transform: uppercase;
    color: black;
    border: 0;
    background-color: red;
  }
  .navbar-brand {
    color: $black;
    &.active,
    &:active,
    &:focus,
    &:hover {
      color: $white;
    }
  }
  .navbar-nav {
    .nav-item {
      .nav-link {
        font-size: 90%;
        font-weight: 400;
        padding: 0.75em 0;
        letter-spacing: 1px;
        color: $black;
        &.active,
        &:hover {
          color: $white;
        }
      }
    }
  }
}

