// Styling for the navbar
#mainNav {
  background-color: $white;
  padding: 0rem .5rem;
  .container-fluid {
    margin: 1vw 5vw;
  }
  .navbar-toggler {
    padding: .6em 0.5em;
    text-transform: uppercase;
    color: black;
    border-radius: 0;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 1.5em;
  }

  .navbar-brand {
    >svg {
      fill: $black;
      color: $black;
      height: 97px;
      &.active,
      &:active,
      &:focus,
      &:hover {
        fill: $white;
      }
    }
  }
  .navbar-nav {
    .nav-item {
      &.text-center {
        margin-right: 40px;
      }
      &:first-child {
        display: none;
      }
      &.social-nav-item {
        display: inline-flex;
        align-content: center;
        justify-content: center;
        .facebook,
        .instagram {
          margin: 0 6px !important;
          padding: 0 !important;
          >svg {
            height: 24px;
            width: 24px;
            fill: $grey;
            &.active,
            &:hover {
              fill: $black;
            }
          }
        }
      }
      .nav-link {
        font-size: 0.8em;
        font-weight: 500;
        padding: 0;
        @include monserrat;
        color: $grey;
        fill: $grey;
        &.active,
        &:hover {
          color: $black;
          fill: $black;
        }
      }
    }
  }
  .google-brand {
    >svg {
      fill: $white;
      height: 65px;
    }
  }
}
