// Styling for the navbar
#mainNav {
  background-color: $white;
  padding: 0rem .5rem;
  .navbar-toggler {
    padding: .6em 0.5em;
    text-transform: uppercase;
    color: black;
    border-radius: 0;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 2em;
  }
  
  .navbar-brand {
    >svg {
      fill: $black;
      height: 10vh;
      color: $black;
        position: relative;
      left: 5vw;
      &.active,
      &:active,
      &:focus,
      &:hover {
        fill: $white;
      }
    }
  }
  .navbar-nav {
    .nav-item {
      &:first-child {
        display: none;
      }
      .facebook,
      .instagram {
        margin: 0 6px !important;
        padding: 0 !important;
        >svg {
          height: 24px;
          width: 24px;
          fill: $grey;
          &.active,
          &:hover {
            fill: $black;
          }
        }
      }
      .nav-link {
        font-size: 18px;
        font-weight: 500;
        padding: 0 12px;
        @include monserrat;
        letter-spacing: 1px;
        color: $grey;
        fill: $grey;
        &.active,
        &:hover {
          color: $black;
          fill: $black;
        }
      }
    }
  }
  .google-brand {
    >svg {
      fill: white;
      height: 5vw;
      right: 5vw;
      position: absolute;
      top: 2vh;
    }
  }
}
