// Styling for the services section
#services {
    color: $grey;
    .title {
        padding: 0 1em;
        &-heading {
            @include monserrat;
            font-weight: 500;
            font-size: 1em;
        }
        &-subheading {
            @include roboto;
            font-weight: normal;
            font-weight: 300;
            font-size: .8em;
        }
    }
    .item {
        border: solid 1px $grey;
        padding: 1em;
        margin: 1em;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        @include diafragma-btn;
        .service {
            &__heading {
                @include monserrat;
                font-weight: 500;
                font-size: .8em;
                margin: 1em 0em;
            }
            &__text {
                @include roboto;
                font-weight: normal;
                font-weight: 300;
                font-size: .7em;
                margin: 0;
            }
            &__icon {
                margin-top: auto;
                >svg {
                    margin: 0 auto;
                    width: 60%;
                    margin: 0 auto;
                }
            }
        }
    }
    .btn {
        &-contato {
            color: $white;
            @include monserrat;
            background: $black;
            font-size: .8em;
            font-weight: 400;
            text-align: center;
            margin: 0 auto;
            text-transform: uppercase;
            padding: 1em 2em;
            border-radius: 0;
            &:hover,
            &:focus,
            &:active {
                color: $grey_light;
                background: $grey;
            }
        }
    }
}
