// Styling for the services section
#services {
    color: $grey;
    .title {
        width: 100%;
        &-heading {
            @include monserrat;
            font-weight: 500;
            font-size: 1em;
        }
        &-subheading {
            @include roboto;
            font-weight: 500;
            font-size: .8em;
            margin-bottom: 2em;
        }
    }
    .owl-carousel {
        margin: 0 auto;
        width: 70%;
        .item {
            border: solid 1px $grey;
            padding: 1em;
            margin: 0 .4em;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-around;
            @include diafragma-btn;
            .service {
                &__heading {
                    @include monserrat;
                    font-weight: 500;
                    font-size: .7em;
                    margin: 1em 0em;
                }
                &__text {
                    @include roboto;
                    font-weight: normal;
                    font-weight: 300;
                    font-size: .6em;
                    margin: 0;
                }
                &__icon {
                    margin-top: auto;
                    >svg {
                        margin: 0 auto;
                        width: 50%;
                        margin: 1em auto 0 auto;
                    }
                }
            }
        }
    }
    .btn {
        &-contato {
            color: $white;
            @include monserrat;
            background: $black;
            font-size: .5em;
            font-weight: 400;
            text-align: center;
            text-transform: uppercase;
            padding: 1.5em 3em;
            border-radius: 0;
            margin: 2em auto 0 auto;
            &:hover,
            &:focus,
            &:active {
                color: $white;
                background: $grey;
            }
        }
    }
}
