// Styling for the services section
#services {
    color: $grey;
    .title {
        padding: 0 20px;
        &-heading {
            @include monserrat;
            font-weight: 500;
            font-size: 24px;
        }
        &-subheading {
            @include roboto;
            font-weight: normal;
            font-weight: 300;
            font-size: 22px;
        }
    }
    .item {
        height: 50vh;
        border: solid 1px $grey;
        padding: 1em;
        margin: 1em;
        @include diafragma-btn;
        .service {
            &__heading {
                @include monserrat;
                font-weight: 500;
                font-size: .8em;
                margin: 1em 0em;
            }
            &__text {
                @include roboto;
                font-weight: normal;
                font-weight: 300;
                font-size: .7em;
                margin: 0;
            }
            &__icon {
                >svg {
                    margin: 0 auto;
                    width: 60%;
                    margin: 0 auto;
                }
            }
        }
    }
    .btn {
        width: 300px;
        height: 80px;
        &-contato {
            font-size: 19px;
            color: $white;
            @include monserrat;
            font-weight: 300;
            text-align: center;
            background: $black;
            margin: 30px auto 0;
            text-transform: uppercase;
            padding: 23px;
            &:hover,
            &:focus,
            &:active {
                color: $grey_light;
                background: $grey;
            }
        }
    }
}
