// Variables
$white: #fff;
$black: #000 !default;


//delay time data-animation
@for $i from 1 through 28{
  .tdelay#{$i}{
    transition-delay:#{$i*140}ms !important;
    -webkit-animation-delay : #{$i*140}ms  ;
    animation-delay : #{$i*140}ms;
  }
}